[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-crispy-forms = "*"
django-reversion = "*"
django-formtools = "*"
xlwt = "*"
xlsxwriter = "*"
xadmin = {file = "https://codeload.github.com/sshwsfc/xadmin/zip/django2"}

[requires]
python_version = "3.7"
